*{
    font-family: Verdana;
}

body{
    background-color: #444444;
}

.container{
    background-color: #212121;
    margin: 30px;
    height: 550px;
    border-radius: 50px;
}

.title{
    text-align: center;
    color: #bdbdbd;
    padding: 20px;
}

.containerClock{
    color: #bdbdbd;
    margin: 100px;
    margin-top: 80px;
    text-align: center;
    background-color: #444444;
    font-size: 80px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}


@media (max-width:1000px){
    body{
        background-color: #444444;
    }
    
    .container{
        background-color: #212121;
        height: 550px;
        border-radius: 50px;
    }
    
    .title{
        text-align: center;
        color: #bdbdbd;
        padding: 20px;
    }
    
    .containerClock{
        color: #bdbdbd;
        margin-top: 80px;
        margin-left: 2%;
        background-color: #444444;
        font-size: 250%;
        padding: 8%;
        width: 80%;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }
    
}

@media (max-width:600px){
    body{
        background-color: #444444;
    }
    
    .container{
        background-color: #212121;
        height: 550px;
        border-radius: 50px;
    }
    
    .title{
        text-align: center;
        color: #bdbdbd;
        padding: 20px;
    }
    
    .containerClock{
        color: #bdbdbd;
        margin-top: 80px;
        margin-left: 2%;
        background-color: #444444;
        font-size: 150%;
        padding: 8%;
        width: 80%;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }
    

}